html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*{
    box-sizing: inherit;
}
main{
    font-size: 2rem;
    text-align: center;
    width: 80%;
    margin: auto;
}

#drink img{
    float: right;
    max-width: 33vw;
}
#drink{
    outline: 1px solid red;
    overflow: auto;
}

#drink table{
    margin: auto;
}